<div class="row">
  <div class="col-xs-3">
	<%= render 'users/info', user: @user %>
	<%= render 'books/new', book: @book_new %>
  </div>
  <div class="col-xs-9">
	<h2>Book detail</h2>
	<table class= "table table-striped">
	 <tr>
		<td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", :size => "40x40"%><br>
		<%= link_to @book.user.name, user_path(@book.user.id) %></td>
		<td><%= @book.title %></td>
		<td><%= @book.body %></td>
		<!-- いいね機能 -->
		<% if @book.favorited_by?(current_user) %>
		<td><%= link_to book_favorites_path(@book), method: :delete do %><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
			<%= @book.favorites.count %> いいね
			<% end %></td>
		<% else %>
		<td><%= link_to book_favorites_path(@book), method: :post do %>
			<i class="fa fa-heart-o" aria-hidden="true"></i>
			<%= @book.favorites.count %> いいね
			<% end %>
		<% end %>
		<!-- いいね機能 -->

		<!-- コメント件数 -->
		<td>コメント数: <%= @book.book_comments.count %></td>
		<% if @user.id == current_user.id %>
		<td><%= link_to 'Edit', edit_book_path(@book),
			class: "btn btn-success" %></td>
		<td><%= link_to 'Destroy', book_path, method: :delete ,data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		</td>
		<% end %>
	 </tr>
	</table>
	 <% @book.book_comments.each do |book_comment| %>
  <div class="row border-bottom">
	<div class="col-xs-2 col-xs-offset-1">
	 <%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", :size => "40x40" %>
	 <%= book_comment.user.name %>
	 <%= book_comment.created_at.strftime('%Y/%m/%d') %>
    </div>
   <div class="col-xs-8">
  	<div class="panel-body well">
	 <%= book_comment.comment %>
    </div>
   </div>
  </div>
    <% end %>

      <div class="col-xs-11">
        <%= form_for [@book, @book_comment] do |f| %>

      	<%= f.text_area :comment, rows:'5', class:"form-control" %>
      </div>
    </div>
    	<%= f.submit :"コメントする" %>
    <% end %>

  </div>
</div>